run = "npm run dev & node server.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["sh", "-c", "npm run build"]
publicDir = "dist"
run = ["sh", "-c", "node server.js"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3001

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
author = 39030242

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && (npm run dev & node server.js)"
