run = "npm run dev"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["sh", "-c", "npm run build"]
publicDir = "dist"
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
author = 39030242

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"
